/* Fonts */
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../font/Roboto/Roboto-Light.ttf);
}

/* Main containers */

#maincontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* Generic HTML */

a {
    color: #2888ff;
}

/* Flexbox classes */

.flexi-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.flexi-server-curtain{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.flexi-mod-wrap {
    flex-wrap: wrap !important;
}

.flexi-normal {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.flexi-user-sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75px;
}

.flexi-server-sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
    height: 100%;
}

.flexi-maxwidth {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.flexi-server-handle {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 65px; 
}

.flexi-server-main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
}

.flexi-server-users {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.flexi-server-chatlog {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px; 
}

.flexi-server-userinput {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px; 
}

.flexi-server-usersection {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px; 
}

.flexi-server-voicesection {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px; 
}

.flexi-log-avatar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 85px;    
}

.flexi-log-data {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;  
}

.flexi-log-user-avatar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;    
}

/* Main UI */

.user-sidebar {
    background-color: #1e2124;
}

.server-sidebar {
    background-color: #2e3136;
}

.channel-container {
    background-color: #36393e;
}

.server-handle {
    box-sizing: border-box;
    background-color: #36393e;
    border-bottom: 2px solid #24272b;
    padding: 7px;
}

.channel-handle {
    box-sizing: border-box;
    background-color: #2e3136;
    border-bottom: 2px solid #24272b;
    padding: 7px;
    position: relative;
    top: 0;
    left: 0;
}

.server-panel-right {
    background-color: #2e3136;
}

.server-userinput {
    border-top: 2px solid #3a3c3f;
}

.user-section {
    background-color: #24272b;
    border-top: 2px solid #3a3c3f;
}

/* User input */

.userinput-container {
    box-sizing: border-box;
    height: 75px;
    padding: 15px;
}

.userinput-upload {
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid #686a6e;
    border-right: 0;
    color: #686a6e;
    background-color: #424549;
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
}

.userinput-textbox{
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid #686a6e;
    color: #686a6e;
    background-color: #424549;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
}

.userinput-upload i {
    font-size: 18pt;
    width: 32px;
    height: 32px;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 2px;
}

/* Channel handle */
.channel-handle-info {
    margin-left: 15px;
    margin-top: 5px;
    color: white;
}

.channel-handle-symbol {
    font-family: Roboto-Light, sans-serif;
    color: #686a6e;
    font-size: 16pt;
}

.channel-handle-info {
    font-family: Roboto-Bold, sans-serif;
    font-size: 16pt;
}

.channel-handle-icons {
    font-family: Roboto-Light, sans-serif;
    font-size: 12pt;
    color: #686a6e;
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.channel-handle-description {
    font-size: 11pt;
    margin-left: 15px;
    color: #888a8e;
}

.channel-handle-description a {
    font-size: 11pt;
    text-decoration: none;
}

.server-handle-info {
    font-size: 13pt;
    font-family: Roboto, sans-serif;
    color: #c8c8c8;
    margin-top: 15px;
    margin-left: 20px;

}

.server-handle-hamburger {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -11px;
}

.server-handle-hamburger i {
    color: #c8c8c8;
    font-size: 18pt;
}

/* Chatlog */
.channel-chatlog {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-entry {
    border-top: 1px solid #484a4e;
    border-bottom: 1px solid #484a4e;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chat-entry-container {
    width: 100%;
    min-height: 75px;
}

.chat-entry-avatar-place {
    width: 65px;
}

.chat-entry-avatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid white;
}

.chat-entry-info-container {
    height: 25px;
    margin-bottom: 3px;
}

.chat-entry-username {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.chat-entry-date {
    color: gray;
    font-size: 11pt;
    margin-left: 3px;
}

.message-log-place {
    width: 100%;
    min-height: 75px;
}

.message-log-place p {
    margin: 6px;
}

.chat-entry-line {
    color: #c8cace;
    font-size: 11pt;
    text-align: justify;
    line-height: 18px;
}

.chat-entry-attachment{
    width: 450px;
    height: 350px;
    margin: 6px;
}

.chat-breaker {
    width: 100%;
    height: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chat-breaker hr {
    border: 1px solid #c83131;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.chat-breaker p {
    color: #c83131;
    position: relative;
    width: 145px;
    top: -25px;
    left: 50%;
    margin-left: -72px;
    background-color: #36393e;
    text-align: center;
}

/* Channel users */

.channel-user-entry, .channel-user-entry-nohover {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 7px;
    padding-right: 10px;
    cursor: pointer;
}

.channel-user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border: 2px solid white;
}

.channel-username-place {
    padding-left: 0;
    padding-top: 7px;
}

.channel-user-entry:hover {
    background-color: #46494e;
}

.channel-user-entry-container {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
}

.channel-user-entry-username {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    font-size: 11pt;
}

.channel-user-entry-nohover {
    box-sizing: border-box;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 20px;
    color: gray;
    margin-bottom: 5px;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
}